<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>home-page</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage.html</location>
    </error-page>

    <filter>
        <filter-name>StaticResourceFilter</filter-name>
        <filter-class>com.swp.bookstore.filter.StaticResourceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StaticResourceFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

</web-app>