<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>home-page</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/AccessDenied.html</location>
    </error-page>

    <filter>
        <filter-name>StaticResourceFilter</filter-name>
        <filter-class>com.swp.bookstore.filter.StaticResourceFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.swp.bookstore.filter.UserFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SellerFilter</filter-name>
        <filter-class>com.swp.bookstore.filter.SellerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.swp.bookstore.filter.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StaticResourceFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/add-to-cart</url-pattern>
        <url-pattern>/view-cart</url-pattern>
        <url-pattern>/update-cart</url-pattern>
        <url-pattern>/delete-cart</url-pattern>
        <url-pattern>/add-address</url-pattern>
        <url-pattern>/delete-address</url-pattern>
        <url-pattern>/update-address</url-pattern>
        <url-pattern>/view-address</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/confirm-order</url-pattern>
        <url-pattern>/update-profile</url-pattern>
        <url-pattern>/view-profile</url-pattern>
        <url-pattern>/change-password</url-pattern>
        <url-pattern>/view-order</url-pattern>
        <url-pattern>/receive-order</url-pattern>
        <url-pattern>/rating</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/view-dashboard</url-pattern>
        <url-pattern>/view-delivering-order</url-pattern>
        <url-pattern>/view-received-order</url-pattern>
        <url-pattern>/view-cancel-order</url-pattern>
        <url-pattern>/update-product</url-pattern>
        <url-pattern>/manage-product</url-pattern>
        <url-pattern>/manage-order</url-pattern>
        <url-pattern>/delete-product</url-pattern>
        <url-pattern>/cancel-order</url-pattern>
        <url-pattern>/add-product</url-pattern>
        <url-pattern>/accept-order</url-pattern>
        <url-pattern>/excel-import</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/change-user-status</url-pattern>
        <url-pattern>/manage-account</url-pattern>
        <url-pattern>/update-user-role</url-pattern>
    </filter-mapping>

</web-app>